.zoomcart{
    font-size: 197px !important;
    width: 800px !important;
    border: 3px #286090 solid;
    border-radius: 11px;
}

.colorcart{
    color: cornflowerblue !important;
}

.cart_border{
	
}

.center{
	margin: auto;
    padding: 10px;
    width: 50%;
}

